
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100italic,300italic,400italic,500italic,700italic,900italic');
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');

// http://fonts.googleapis.com/css?family=Roboto:400"
// http://fonts.googleapis.com/css?family=Roboto:100"
// http://fonts.googleapis.com/css?family=Roboto:100italicc"
// http://fonts.googleapis.com/css?family=Roboto:300"
// http://fonts.googleapis.com/css?family=Roboto:300italic"
// http://fonts.googleapis.com/css?family=Roboto:400italic"
// http://fonts.googleapis.com/css?family=Roboto:500"
// http://fonts.googleapis.com/css?family=Roboto:700"
// http://fonts.googleapis.com/css?family=Roboto:500italic"
// http://fonts.googleapis.com/css?family=Roboto:700italic"
// http://fonts.googleapis.com/css?family=Roboto:900"
// http://fonts.googleapis.com/css?family=Roboto:900italic
// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
// @import '~bootstrap/scss/bootstrap-grid';

// Animate on scroll
@import '~aos/dist/aos.css';
/*
// Team
/*/

h1, h2, h3, h4, h5, h6{
  font-family: 'novecento_widedemibold',sans-serif !important;
}
.team-item,
.team-wrap,
.team-content,
.team-content-social {
  transition:  all .7s cubic-bezier(0.25, 1, 0.33, 1);
}

.team-item {
  position: relative;
  border-radius: .1875rem;
  box-shadow: 0 20px 70px 0 rgba(0, 0, 0, .15);
  margin: 0 0 30px;

  img {
    border-radius: .1875rem;
    width: 100%;
  }
}

.team-wrap {
  background: rgba(#222, 0.6);
  position: absolute;
  border-radius: .1875rem;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.team-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  transform: translateY(-(10px * 2));
}

.team-role {
  font-size: rem(14);
  opacity: .6;
}

.team-name,
.team-role {
  color: #fff;
}

.team-content-social {
  text-align: center;
  padding: 20px;
  margin: 0;
  transform: translateY(-(10px * 2));
  position: absolute;
  right: 0;

  ul {
    list-style: none;
  }

  li {
    margin-bottom: 5px;

    a {
      color: #fff;

      &:hover {
        opacity: .6;
      }
    }
  }
}

.team-item:hover {
  transform: translateY(10px);

  .team-wrap {
    opacity: 1;
  }

  .team-content,
  .team-content-social {
    transform: translateY(0);
  }
}
/* Team CSS*/